/* Reset és alap stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

/* Footer stílusok */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc; /* Szürke háttérszín */

}
    
/* Általános formázás (opcionális) */
.lazy-load {
    width: 40vw;
    height: auto;
    opacity: 0; /* Kezdeti átlátszóság */
    transition: opacity 0.3s ease-in-out; /* Átlátszóság átmenet */
    margin-right: 10px; /* Választható margó a képek között */
  }
  .lazy-load:last-child {
    margin-right: 0; /* Az utolsó képnek nincs jobb margója */
}

.image-coloumn {
    align-items: center;

}
.image_container{
    margin: auto;
}