body {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

header h1 {
    margin: 0;
}

main {
    opacity: 0;
    transition: 1000ms;
    position: absolute;
    z-index: 0;
    width: 100%
}
.show-content {
    opacity: 1;
    transition: 1000ms;
    z-index: 1;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #d2a2a2;
}

img {
    width:auto;
    height: 370px;
    align-items: center;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

.image-coloumn {
    align-items: center;
}
.image-container{
    margin: auto;
    justify-content: center;
    display: flex;
}

.video-container {
    display: flex; /* Flexbox elrendezés */
    justify-content: space-between; /* Elemek egymástól való elhelyezése */
    align-items: center; /* Elemek középre igazítása */
  }
  .video-container iframe {
    max-width: 45%; /* Maximális szélesség beállítása a videóknak */
    margin: auto;
    justify-content: center;
    display: flex;
  }
