
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

#calculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px #fdfffe;
  border-radius: 5px;
  background-color: #fdfffe;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #71ccae;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #71ccae;
}